.main {
    display: flex;
    justify-content: space-between;
}
.main-content {
    width: 100%;
}

.primary-color {
    color: #07a3c2;
    background: linear-gradient(#07a3c2, #0dcaf0, #07a3c2);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.inactive-color {
    color: rgb(204, 199, 199);
}
