.social {
	margin-bottom: 10px;
}
.social a svg {
	top: -2px;
	position: relative;
}

.social a {
	color: #07a3c2 !important;
	border-color: #07a3c2;
	border-radius: 50%;
	margin: 2px;
}

.social a:hover {
	background-color: #07a3c2 !important;
	color: white !important;
	border-color: #07a3c2;
}
